.app-header {
  background-image: radial-gradient(var(--off-white) .2em, transparent .2em), 
                    radial-gradient(var(--off-white) .2em, transparent .2em);
  background-color: var(--base-color);
  background-position: 0 0, 1em 1em;
  background-size: 2em 2em;
  font-family: 'Tangerine', cursive, serif;
  font-size: clamp(1rem , 2vw, 1.9rem);
}

.app-header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0.2em;
}

.app-header a {
  color: inherit;
  text-decoration: none;
  text-align: center;
  line-height: normal;
}

.app-header nav {
  flex-grow: 1;
  display: none;
  justify-content: space-around;
  margin: 0 0.3em;
}

.app-header .menu-action,
.app-header nav a {
  border-radius: 50%;
  margin: 0.3em;
  padding: 0.5em;
  background-color: var(--primary);
  border: 3px dotted;
  box-shadow: 0 0 0 4px var(--primary);
  font-size: 1.2em;
  font-weight: 700;
}

.app-header .menu-action:focus,
.app-header .menu-action:hover,
.app-header nav a:focus,
.app-header nav a:hover,
.app-header nav a:active {
  background-color: var(--primary-dark);
  box-shadow: 0 0 0 4px var(--primary-dark);
  text-decoration: none;
}

.app-header .logo {
  display: inline-block;  
  border-radius: 50%;
  border: 4px dotted var(--primary-darker);
  box-shadow: 0 0 0 6px var(--off-white);
  margin-right: 0.3em;
  padding: 0.4em 0.5em 0.25em 0.25em;
  background-color: var(--off-white);
  font-size: 2em;
  font-weight: 300;
}

.app-header .logo:hover,
.app-header .logo:focus,
.app-header .logo:active {
  text-decoration: none;
}

.app-header .menu-action {
  margin-left: auto;
  padding: 0.35em 0.5em;
  font-size: 1.25em;
}

.app-header .poodle-icon {
  display: none;
  position: absolute;
  z-index: 1;
  top: clamp(-1.5em, -3vw, -1em);
  right: clamp(-0.6em, -1.4vw, -0.5em);
  width: clamp(1em, 20vw, 9em);
  height: clamp(1em, 18vw, 8em);
}

.app-footer {
  display: flex;
  align-items: center;
  padding: 0.5em 0.75em;
  background-color: var(--base-color);
  color: var(--off-white);
  font-size: var(--small-font-size);
}

.app-footer .fa-paw {
  font-size: 2em;
  margin-right: 0.3em;
  color: var(--primary);
}

.footer-nav {
  margin-left: auto;
}

.footer-nav a {
  color: inherit;
  text-decoration: none;
}

.footer-nav-icon {
  display: inline-block;
  height: 1.7em;
  width: 1.7em;
  border-radius: 50%;
  border: 2px dotted;
  box-shadow: 0 0 0 2px var(--primary);
  margin: 0 0.35em 0 1em;
  background-color: var(--primary);
  font-size: 1.2em;
  text-align: center;
  color: var(--base-color);
}

.footer-nav-icon:focus,
.footer-nav-icon:hover,
.footer-nav-icon:active {
  background-color: var(--primary-dark);
  box-shadow: 0 0 0 3px var(--primary-dark);
}

.footer-nav-description {
  display: none;
}

@media only screen and (min-width: 850px) {
  .app-header-wrapper {
    padding-right: clamp(1em, 15.6vw, 7em);
  }

  .app-header nav {
    display: flex;
  }

  .app-header .poodle-icon,
  .footer-nav-description {
    display: inline-block;
  }

  .app-header .menu-action {
    display: none;
  }
}

@media only screen and (min-width: 1974px) { 
  .app-content {
    padding-left: calc((100% - 1920px)/2);
    padding-right: calc((100% - 1920px)/2);
  }

  .app-header-wrapper {
    margin-left: -0.5em;
  }
}



/**************************  home ****************************/
.home-content {
  display: flex;
  flex-direction: column;
}

.home-content .app-h1,
.home-content .app-lead-paragraph {
  order: -1;
}

.app-carousel {
  position: relative;
  height: 50vh;
  max-width: 100%;
  margin-bottom: var(--default-margin);
  padding: 1.5em 1.5em 3.5em 1.5em;
  text-align: center;
  overflow: hidden;
}

.app-carousel img {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  display: none;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0 0 0 0.1875em var(--off-white), 0 0 0 0.3125em var(--base-color), 0 0 0 0.75em var(--off-white), 0 0 0 1.25em var(--primary);
  object-fit: scale-down;
}

.app-carousel img.current {
  display: inline-block;
}

.app-carousel-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-carousel button {
  border: none;
  background: none;
  margin-top: 0.3em;
  padding: 0.5em;
  font-size: 0.6em;
  opacity: 0.5;
  cursor: pointer;
}

.app-carousel button.current {
  opacity: 1;
}

@media only screen and (min-width: 1200px) { 
  .home-content {
    display: block;
  }

  .app-carousel {
    float: right;
    height: 65vh;
    width: 55%;
    margin-left: var(--default-margin);
    margin-right: var(--default-margin);
  }
}