:root {
  --small-font-size: 0.833em;
  --base-color: #0D0D0D;
  --off-white: #f2f2f2;
  --grey: #bfbfbf;
  --primary: #F2BBD5;
  --primary-dark: #de93b7;
  --primary-darker: #bf4565;
  --default-margin: 1.2rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  font-size: clamp(100% , 2vw, 125%);
  line-height: 1.5;
  color: var(--base-color);
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
[id="root"] {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--off-white);
  background-image: linear-gradient(to right, #f9f9f9, #f9f9f9 1px, #f7f7f7 3px, var(--off-white) 50%, #ebebeb 50%, #ededed);
  background-size: clamp(2.35em, 5vw, 2.5em) 100%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 400;
  color: var(--primary-darker);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

strong {
  font-weight: 500;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: var(--default-margin);
  line-height: normal;
}

.app-h1 {
  font-size: 2.488em;
  font-weight: 200;
}

.app-h2 {
  font-size: 2.074em;
  font-weight: 200;
}

.app-h3 {
  font-size: 1.728em;
  font-weight: 200;
}

.app-h4 {
  font-size: 1.44em;
  font-weight: 200;
}

.app-h5 {
  font-size: 1.2em;
  font-weight: 200;
}

.app-lead-paragraph {
  font-size: 1.44em;
  color: var(--primary-darker);
  margin-top: -1rem;
}


[id="root"] {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

main {
  padding: 1.5rem;
  overflow: auto;
}
